body {background-image: url("./imaxes/Bagman.jpg");
  background-repeat: no-repeat;
  background-position-x: left;
  padding: 0;}
main {background-color: antiquewhite;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px;
}
button {
  margin: 5px;
}
input {
  margin: 3px;
}